@page "{catagoryId}"
@model Shop.UI.Pages.CategoryPageModel
@{
    ViewData["Title"] = "Home page";
}


<div class="section">
    <div class="columns is-multiline is-mobile">
        @{
            foreach (var i in Model.Products)
            {
                <div class="column is-3-desktop is-4-tablet is-6-mobile">
                    <a asp-page="Product" asp-route-name="@i.Name.Replace(" ", "--")">


                            <div class="card is-size-7-mobile">
                                <div class="card-image">
                                    <figure>

                                        <img src="~/images/@i.ImgUrl" alt="Placeholder image" style="width: 70%; height:65%" />

                                    </figure>
                                </div>
                                <div class="card-content">
                                    @{
                                        string cssClass = "";
                                        string msg = "";
                                        if (i.StockCount == 0)
                                        {
                                            cssClass = "is-paddingless has-text-centered is-danger";
                                            msg = "Out Of Stock";
                                        }
                                        else if (i.StockCount <= 5)
                                        {
                                            cssClass = "is-paddingless has-text-centered is-warning";
                                            msg = "Low on Stock";
                                        }
                                    }
                                    @if (i.StockCount <= 5)
                                    {
                                        <div class="notification @cssClass">
                                            @msg
                                        </div>
                                    }
                                    <p class="title is-size-4-desktop is-size-6-mobile">@i.Name  @i.Value </p>
                                    @if (@i.Description.Length >= 40)
                                    {
                                        <p class="subtitle is-size-5-desktop is-size-7-mobile">@i.Description.Substring(0, 39)...</p>
                                    }
                                    else
                                    {
                                        <p class="subtitle">@i.Description </p>
                                    }


                                </div>
                            </div>
                        
                    </a>
                </div>

            }
        }
    </div>

</div>

